.form__button {
    background-color: teal;
    transition: 1s;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.05);
    transition: 1s;
}

.form__button:active {
    border: 1px solid #000;
}

.list__button {
    width: 30px;
    height: 30px;
}

.list__button--remove {
    background-color: hsl(348, 83%, 40%);
    transition: 1s;
    color: white;
    border: none;
}

.list__button--remove:hover {
    background-color: hsl(348, 83%, 55%);
}

.list__button--remove:active {
    border: 1px solid #000;
}

.list__button--done {
    background-color: green;
    transition: 1s;
    color: white;
    border: none;
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.list__button--done:active {
    border: 1px solid #000;
}

.container__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    border: none;
    color: teal;
    transition: 1s;
    background-color: #fff;
    padding: 10px;
}

.buttons:hover {
    color: hsl(180, 100%, 35%);
}

.buttons:disabled{
    color: #ddd;
}
@media (max-width: 767px) {
    .container__buttons {
        grid-template-columns: 1fr;
    }
}