.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    border: 1px solid #000;
}

.list__button {
    width: 30px;
    height: 30px;
}

.list__button--remove {
    background-color: crimson;
    color: white;
    border: none;
}

.list__button--remove:hover {
    background-color: hsl(348, 83%, 55%);
}

.list__button--remove:active {
    border: 1px solid #000;
}

.list__button--done {
    background-color: green;
    color: white;
    border: none;
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.list__button--done:active {
    border: 1px solid #000;
}