.form {
    padding: 15px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
    flex-grow: 1;
    margin: 5px;
}